.item {
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1vmin;
    padding: 1vmin;
    line-height: 100%;
}
.label {
    font-weight: 800;
    margin-bottom: 1vmin;
    font-size: 2vmin;
}

.data {
    height: 3vmin;
    align-self: center;
    justify-content: center;
}
.value {
    font-size: 2vmin;
    font-weight: 800;
    display: inline-block;
}
.diff {
    font-size: 2vmin;
    font-weight: 700;
    display: inline-block;
    word-wrap: none;
}
.description {
    font-size: 1vmin;
}
